[Unit]
Description=Button listener
After=led-controller.service

[Service]
ExecStart=/usr/local/bin/rest-buttons.py
Restart=always

[Install]
WantedBy=multi-user.target
