[Unit]
Description=REST server for led control
After=network-online.target

[Service]
ExecStart=/usr/local/bin/led-controller.py
Restart=always

[Install]
WantedBy=multi-user.target
